{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<body>
	{% block content %}
		<div class="row-fluid">
		{% if latest %}
			<ul class="nav nav-pills">
				<li> <a href="{% url "latest_errors" %}?items=25&page=1&query=all_latest" >Latest errors</a> </li>
				<li class="active"> <a href="{% url "latest_errors" %}?items=25&page=1&query=autobuilder_latest" >Latest Autobuilder errors</a></li>
				<li> <a href="{% url "main" %}" >Statistics </a> </li>
			</ul>
			<div class="alert">
				{% ifequal d "autobuilder" %}
					<h3>No Autobuilder errors found</h3>
				{% else %}
					<h3>No errors found</h3>
				{% endifequal%}
				<form class="no-results" action="{% url "entry_args" %}" method="GET">
					<div class="input-append">
						<input class="input-xxlarge" type="text" name="query" value="{{ query }}">
						<input type="text" name="items" value=10 style="display: none;">
						<input type="text" name="page" value=1 style="display: none;">
						<button class="btn" type="submit" value = "Search">Search</button>
					</div>
				</form>
			</div>
		{% else %}
			<div class="page-header">
				<h1>No errors found</h1>
			</div>
			<div class="alert">
				<form class="no-results" action="{% url "entry_args" %}" method="GET">
					<div class="input-append">
						<input class="input-xxlarge" type="text" name="query" value="{{ query }}">
						<input type="text" name="items" value=10 style="display: none;">
						<input type="text" name="page" value=1 style="display: none;">
						<button class="btn" type="submit" value = "Search">Search</button>
						<a class="btn btn-link" href="/">View latest errors</a>
					</div>
				</form>
			</div>
		{% endif %}
		</div>
	{% endblock %}
	</body>
</html>
