{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<body>
	{% block content %}
		<div class="row-fluid">
			<div class="page-header">
				<h1>No errors found</h1>
			</div>

			<div class="alert">
				<form class="no-results" action="{% url entry_args %}" method="GET">
					<div class="input-append">
						<input class="input-xxlarge" type="text" name="query" placeholder="Search all errors">
						<input type="text" name="items" value=10 style="display: none;">
						<input type="text" name="page" value=1 style="display: none;">
						<button class="btn" type="submit" value = "Search">Search</button>
						<a class="btn btn-link" href="/">Go to error dashboard</a>
					</div>
				</form>
			</div>
	{% endblock %}
	</body>
</html>
