{% extends "base.html" %}
{% block content %}
    <div class="row-fluid">
      <ul class="nav nav-pills">
        <li><a href="{% url "latest_errors" %}?items=25&page=1&query=all_latest">Latest errors</a></li>
        <li><a href="{% url "latest_errors" %}?items=25&page=1&query=autobuilder_latest">Latest Autobuilder errors</a></li>
        <li class="active"> <a href="#stats" data-toggle="tab">Statistics </a> </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="stats">

          <p class="lead">Errors reported last 30 days</p>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span6">
                <h2>By machine</h2>
                <div class="thumbnail" id="MACHINE">

                </div>
              </li>
              <li class="span6">
                <h2>By recipe</h2>
                <div class="thumbnail" id="RECIPE">
                </div>
              </li>
            </ul>
          </div>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span6">
                <h2>By target</h2>
                <div class="thumbnail" id="TARGET">
                </div>
              </li>
              <li class="span6">
                <h2>By distro</h2>
                <div class="thumbnail" id="DISTRO">
                </div>
              </li>
            </ul>
          </div>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span6">
                <h2>By branch</h2>
                <div class="thumbnail" id="BRANCH">
                </div>
              </li>
              <li class="span6">
                <h2>By commit</h2>
                <div class="thumbnail" id="COMMIT">
                </div>
              </li>
            </ul>
          </div>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span6">
                <h2>By target system</h2>
                <div class="thumbnail" id="TARGET_SYS">
                </div>
              </li>
              <li class="span6">
                <h2>By host distro</h2>
                <div class="thumbnail" id="NATIVELSBSTRING">
                </div>
              </li>
            </ul>
          </div>
          <script type="text/javascript">
            $(document).ready(function () {
              $.get('{% url "statistics" "MACHINE" %}', function(data){
                $("#MACHINE").append (data);
              });

              $.get('{% url "statistics" "RECIPE" %}', function(data){
                $("#RECIPE").append (data);
              });

              $.get('{% url "statistics" "TARGET" %}', function(data){
                $("#TARGET").append (data);
              });

              $.get('{% url "statistics" "DISTRO" %}', function(data){
                $("#DISTRO").append (data);
              });

              $.get('{% url "statistics" "BRANCH" %}', function(data){
                $("#BRANCH").append (data);
              });

              $.get('{% url "statistics" "COMMIT" %}', function(data){
                $("#COMMIT").append (data);
              });

              $.get('{% url "statistics" "TARGET_SYS" %}', function(data){
                $("#TARGET_SYS").append (data);
              });

              $.get('{% url "statistics" "NATIVELSBSTRING" %}', function(data){
                $("#NATIVELSBSTRING").append (data);
              });

            }); /* End onLoad */
          </script>

        </div>
      </div>   <!-- end of tab-content -->

    </div>	<!-- end of row-fluid -->
{% endblock %}
