{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load projecttags %}
<!DOCTYPE html>
<html>
	<body>
		{% block content %}
		<script>$

    function reload_params(params) {
        uri = window.location.href;
        splitlist = uri.split("?");
        url = splitlist[0], parameters=splitlist[1];
        // deserialize the call parameters
        if(parameters){
            cparams = parameters.split("&");
        }else{
            cparams = []
        }
        nparams = {}
        for (i = 0; i < cparams.length; i++) {
            temp = cparams[i].split("=");
            nparams[temp[0]] = temp[1];
        }
        // update parameter values
        for (i in params) {
            nparams[encodeURIComponent(i)] = encodeURIComponent(params[i]);
        }
        // serialize the structure
        callparams = []
        for (i in nparams) {
            callparams.push(i+"="+nparams[i]);
        }
        window.location.href = url+"?"+callparams.join('&');
}

    // most of the following javascript is for managing the 'Edit Columns'
    // pop-up dialog and actions. the idea is that there are 2 types
    // of actions: immediate - performed while the dialog is still
    // visible - hide/show columns, and delayed - performed when the
    // dialog becomes invisible - any resorting if necessary.
    //
    // When the dialog is open, an interval timer is set up to
    // determine if the dialog is still visible. when the dialog
    // closes - goes invisible, the delayed actions are performed.
    //
    // the interval timer and interrupt handler is a way of simulating
    // an onclose event. there is probably a simpler way to do this
    // however the pop-up window id was elusive.
    //

    var editColTimer;
    var editColAction;

    //
    // this is the target function of the interval timeout.
    // check to see if the dialog is visible. if the dialog
    // has gone invisible since the last check, take any delayed
    // actions indicated in the action list and clear the timer.
    //

    function checkVisible( ) {
        editcol = document.getElementById( 'editcol' );
        if ( editcol.offsetWidth <= 0 ) {
            clearInterval( editColTimer );
            editColTimer = false;
            hideshowColumns( );
            editColAction = [ ];
        }
    }

    //
    // determine the value of the indicated url arg.
    // this is needed to determine whether a resort
    // is necessary. it looks like a lot of gorp stuff
    // but its actually pretty simple.
    //

    function getURLParameter( name ) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' +
          '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g,
          '%20'))||null
    }

    //
    // when the dialog box goes invisible
    // this function is called to interpret
    // the action list and take any delayed actions necessary.
    // the editColAction list is a hash table with
    // the column name as the hash key, the hash value
    // is a 2 element list. the first element is a flag
    // indicating whether the column is on or off. the
    // 2nd element is the sort order indicator for the column.
    //

    function hideshowColumns( ) {
        for( var k in editColAction ) {
            showhideDelayedTableAction( k, editColAction[ k ][ 0 ], editColAction[ k ][ 1 ], editColAction[ k ][ 2 ]);
        }
    }

    //
    // this function actually performs the delayed table actions
    // namely any resorting if necessary
    //

    function showhideDelayedTableAction( clname, sh, orderkey, filter_column) {
        if ( !sh && orderkey && getURLParameter("orderby")) {
            orderkey = orderkey.split( ":" )[ 0 ];
            p = getURLParameter( "orderby" ).split( ":" )[ 0 ];
            if ( p == orderkey ) {
                reload_params({ 'orderby' : '{{default_orderby}}'});
            }
        }

        if ( !sh && filter_column && getURLParameter("filter")) {
            f = getURLParameter( "filter" ).split( ":" )[ 1 ];
            if ( f == filter_column ) {
                reload_params({ 'filter' : ''});
            }
        }
    }

    //
    // this function actually performs the immediate table actions
    // namely any colums that need to be hidden/shown
    //

    function showhideImmediateTableAction( clname, sh, orderkey, filter_column) {
        if ( sh ) {
            $( '.' + clname ).show( 100 );
        }
        else {
            $( '.' + clname ).hide( 100 );
        }

        // save cookie for all checkboxes
        save = '';
        $( '.chbxtoggle' ).each(function( ) {
            if ( $( this ).attr( 'id' ) != undefined ) {
                save += ';' + $( this ).attr( 'id' ) +':'+ $( this ).is( ':checked' )
            }
        });
        $.cookie( '_displaycols_{{objectname}}', save );
        save = '';
    }

    //
    // this is the onclick handler for all of the check box
    // items in edit columns dialog
    //

    function showhideTableColumn( clname, sh, orderkey, filter_column) {
        editcol = document.getElementById( 'editcol' );
        if ( editcol.offsetWidth <= 0 ) {

            //
            // this path is taken when the page is first
            // getting initialized - no dialog visible,
            // perform both the immediate and delayed actions
            //

            showhideImmediateTableAction( clname, sh, orderkey, filter_column);
            showhideDelayedTableAction( clname, sh, orderkey, filter_column);
            return;
        }
        if ( !editColTimer ) {

            //
            // we don't have a timer active so set one up
            // and clear the action list
            //

            editColTimer = setInterval( checkVisible, 250 );
            editColAction = [ ];
        }

        //
        // save the action to be taken when the dialog closes
        //

        editColAction[ clname ] = [ sh, orderkey, filter_column];
        showhideImmediateTableAction( clname, sh, orderkey, filter_column);
        showhideDelayedTableAction( clname, sh, orderkey, filter_column);
    }

    function FilterByCommit(commit) {
        javascript:reload_params({'filter': commit});
    }

	</script>


		<div class="row-fluid">
			<ul class="nav nav-pills">
				{% ifequal d 'autobuilder' %}
					<li> <a href="javascript:reload_params({'query' : 'all_latest', orderby : '', filter : ''})">Latest errors</a></li>
					<li class="active"> <a href="javascript:reload_params({})">Latest Autobuilder errors</a></li>
				{% else %}
					<li class="active"> <a href="javascript:reload_params({})">Latest errors</a></li>
					<li > <a href="javascript:reload_params({'query' : 'autobuilder_latest', orderby : '', filter : ''})">Latest Autobuilder errors</a></li>
				{% endifequal %}
					<li> <a href="{% url main %}" >Statistics </a> </li>
			</ul>
			<div class="navbar">
				<div class="navbar-inner">
				{% if filter_string %}
					<span class="brand"> {{no}} errors found filtered by "{{filter_string|getFilterValue:":"}}"</span>
				{% endif %}
					{% if no > 10 %}
					<form class="form-inline pull-right">
						<label>Show latest:</label>
						<form>
							<select class="paginationLimit input-mini" onchange="javascript:reload_params({'page': '1', 'items' : +this.value })">
								{% ifequal items "10" %}
									<option selected="selected" value = "10">10</option>
									<option value = "25">25</option>
									<option value = "50">50</option>
									<option value = "100">100</option>
									<option value = "150">150</option>
								{%endifequal%}
								{% ifequal items "25"%}
									<option value = "10">10</option>
									<option selected="selected" value = "25">25</option>
									<option value = "50">50</option>
									<option value = "100">100</option>
									<option value = "150">150</option>
								{%endifequal%}
								{% ifequal items "50"%}
									<option value = "10">10</option>
									<option value = "25">25</option>
									<option selected="selected" value = "50">50</option>
									<option value = "100">100</option>
									<option value = "150">150</option>
								{%endifequal%}
								{% ifequal items "100"%}
									<option value = "10">10</option>
									<option value = "25">25</option>
									<option value = "50">50</option>
									<option selected="selected" value = "100">100</option>
									<option value = "150">150</option>
								{%endifequal%}
								{% ifequal items "150"%}
									<option value = "10">10</option>
									<option value = "25">25</option>
									<option value = "50">50</option>
									<option value = "100">100</option>
									<option selected="selected" value = "150">150</option>
								{%endifequal%}
							</select>
						</form>
					</form>
					<span class="divider-vertical pull-right"></span>
					{% endif %}
					<div class="btn-group pull-right">
						{% ifequal d "autobuilder" %}
							<form style="display:inline" action="{% url entry_args %}" method="GET">
								<div class="input-append">
									<input type="text" name="items" value=10 style="display: none;">
									<input type="text" name="page" value=1 style="display: none;">
									<input type="text" name="query" value=autobuilder style="display: none;">
								</div>
								<button type="submit" value="View All" class="btn dropdown-toggle">View all Autobuilder errors </button>
							</form>
						{% endifequal %}
						{% if tablecols %}
							<button class="btn dropdown-toggle" data-toggle="dropdown">Edit columns
								<span class="caret"></span>
							</button>
							<ul id='editcol' class="dropdown-menu">
								{% for i in tablecols|sortcols %}
								<li>
									<label
										{% if not i.clclass %} class="checkbox muted" {%else%} class="checkbox" {%endif%}>
										<input type="checkbox" class="chbxtoggle"
										{% if i.clclass %}
											id="{{i.clclass}}"
											value="ct{{i.name}}"
											{% if not i.hidden %}
												checked="checked"
											{%endif%}
											onclick="showhideTableColumn($(this).attr('id'), $(this).is(':checked'), '{{i.orderfield}}', '{{i.filter}}')"
										{%else%}'{{i.filter}}'
											checked disabled
										{% endif %}
										/> {{i.name}}
									</label>
								</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div> <!-- navbar-inner -->
			</div>
			{% if details %}
				<table class="table table-bordered table-hover">
					<thead>
					<!-- Table header row; generated from "tablecols" entry in the context dict -->
						<tr>
							{% for i in tablecols %}
								{% if  i.filter|upper in filter_string %}
									<th class=" filter-applied {{i.clclass}}">
										<span class="muted">
											{{i.name}}
										</span>
										<a href="javascript:reload_params({'filter': ''})" class="btn btn-mini pull-right" title="Clear filter">&#x2716</a>
								{% else %}
									<th class="{{i.clclass}}">
										{%if i.orderfield%}
											<a {%if i.ordericon%} class="sorted" {%endif%}
												href="javascript:reload_params({'page': 1, 'orderby' : '{{i.orderfield}}' })" >
												{{i.name}}
											</a>
										{%else%}
											<span class="muted">
												{{i.name}}
											</span>
										{%endif%}
										{% if i.ordericon%}
											<span class="sorting-arrows">
												{% ifequal i.ordericon "down" %} &#9660 {% else %} &#9650 {% endifequal %}
											</span>
										{%endif%}
								{% endif %}
									</th>
							{%endfor%}
						</tr>
					</thead>
					<tbody>
						{%for detail in details %}
						<tr class="data">
							<td class="submitted_on"> <a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.DATE|date:"d/m/y H:i"}}</a></td>
							<td class="recipe"><a href="{% url id detail.id details.number items d %}">{{ detail.RECIPE }}</a>
								{% if "RECIPE" not in filter_string and detail.RECIPE|add:":RECIPE"|can_be_filter:non_filtered_details%}
									<a href="javascript:reload_params({'filter': '{{detail.RECIPE}}:RECIPE'})">
										<i class="icon-filter hover" title="Filter by {{detail.RECIPE}}"></i>
									</a>
								{%endif%}
							</td>
							<td class="recipe_version"><a href="{% url id detail.id details.number items d %}">{{ detail.RECIPE_VERSION }}</a></td>
							<td class="task"><a href="{% url id detail.id details.number items d %}">{{ detail.TASK }}</a>
								{% if "TASK" not in filter_string and detail.TASK|add:":TASK"|can_be_filter:non_filtered_details%}
									<a href="javascript:reload_params({'filter': '{{detail.TASK}}:TASK'})">
										<i class="icon-filter hover" title="Filter by {{detail.TASK}}"></i>
									</a>
								{%endif%}
							</td>
							<td class="machine"><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.MACHINE }}</a>
								{% if "MACHINE" not in filter_string and detail.BUILD.MACHINE|add:":MACHINE"|can_be_filter:non_filtered_details%}
									<a href="javascript:reload_params({'filter': '{{detail.BUILD.MACHINE}}:MACHINE'})">
										<i class="icon-filter hover" title="Filter by {{detail.BUILD.MACHINE}}"></i>
									</a>
								{%endif%}
							</td>
							<td class="distro"><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.DISTRO }}</a>
								{% if "DISTRO" not in filter_string and detail.BUILD.DISTRO|add:":DISTRO"|can_be_filter:non_filtered_details%}
									<a href="javascript:reload_params({'filter': '{{detail.BUILD.DISTRO}}:DISTRO'})">
										<i class="icon-filter hover" title="Filter by {{detail.BUILD.DISTRO}}"></i>
									</a>
								{%endif%}
							</td>
							<td class="build_sys"><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.BUILD_SYS }}</a>
								{% if "BUILD_SYS" not in filter_string and detail.BUILD.BUILD_SYS|add:":BUILD_SYS"|can_be_filter:non_filtered_details%}
									<a href="javascript:reload_params({'filter': '{{detail.BUILD.BUILD_SYS}}:BUILD_SYS'})">
										<i class="icon-filter hover" title="Filter by {{detail.BUILD.BUILD_SYS}}"></i>
									</a>
								{%endif%}
							</td>
							<td class="target_sys"><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.TARGET_SYS }}</a>
								{% if "TARGET_SYS" not in filter_string and detail.BUILD.TARGET_SYS|add:":TARGET_SYS"|can_be_filter:non_filtered_details%}
									<a href="javascript:reload_params({'filter': '{{detail.BUILD.TARGET_SYS}}:TARGET_SYS'})">
										<i class="icon-filter hover" title="Filter by {{detail.BUILD.TARGET_SYS}}"></i>
									</a>
								{%endif%}
							</td>
							<td class="nativelsbstring"><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.NATIVELSBSTRING }}</a>
								{% if "NATIVELSBSTRING" not in filter_string and detail.BUILD.NATIVELSBSTRING|add:":NATIVELSBSTRING"|can_be_filter:non_filtered_details%}
									<a href="javascript:reload_params({'filter': '{{detail.BUILD.NATIVELSBSTRING}}:NATIVELSBSTRING'})">
										<i class="icon-filter hover" title="Filter by {{detail.BUILD.NATIVELSBSTRING}}"></i>
									</a>
								{%endif%}
							</td>
							<td class="branch"><a href="{% url id detail.id details.number items d %}">{{detail.BUILD.BRANCH}}</a>
								{% if "BRANCH" not in filter_string and detail.BUILD.BRANCH|add:":BRANCH"|can_be_filter:non_filtered_details%}
									<a href="javascript:reload_params({'filter': '{{detail.BUILD.BRANCH}}:BRANCH'})">
										<i class="icon-filter hover" title="Filter by {{detail.BUILD.BRANCH}}"></i>
									</a>
								{%endif%}
							</td>
							<td class="commit">
								{% autoescape off %}
								<div class="btn" rel="popover"
									data-content='
										&lt;div&gt; {{ detail.BUILD.COMMIT|escape}}&lt;/div&gt;
										&lt;p&gt;&lt;a href="{% url entry_args %}?items=25&page=1&query={{detail.BUILD.COMMIT}}" &gt;Search by commit&lt;/a&gt;
										{% if "COMMIT" not in filter_string and detail.BUILD.COMMIT|add:":COMMIT"|can_be_filter:non_filtered_details %}
											|&lt;a href=javascript:FilterByCommit("{{detail.BUILD.COMMIT}}:COMMIT")&gt;Filter by commit&lt;/a&gt;
										{% endif %}
										{% if "yocto-autobuilder" in detail.BUILD.NAME and "master" in detail.BUILD.BRANCH %}
											|&lt;a target="_blank" href="http://git.yoctoproject.org/cgit/cgit.cgi/poky/commit/?id={{detail.BUILD.COMMIT}}"&gt;View commit&lt;/a&gt;
										{% endif %}
										&lt;/p&gt;'
									title="">
									{% endautoescape %}
									{{ detail.BUILD.COMMIT|truncatechars:10}}
								</div>
							</td>
							<td class="submitter"><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.NAME }} </a>
								{% if "NAME" not in filter_string and detail.BUILD.NAME|add:":NAME"|can_be_filter:non_filtered_details%}
									<a href="javascript:reload_params({'filter': '{{detail.BUILD.NAME}}:NAME'})">
										<i class="icon-filter hover" title="Filter by {{detail.BUILD.NAME}}"></i>
									</a>
								{%endif%}
							</td>
						</tr>
					{%endfor%}
					</tbody>
				</table>
				<div class="pagination pagination-centered">
					<form class="form-inline pull-right">
					{% if no > 10 %}
						<label>Show latest:</label>
						<form>
							<select class="paginationLimit input-mini" onchange="javascript:reload_params({'page': '1', 'items' : +this.value })">
								{% ifequal items "10" %}
									<option selected="selected" value = "10">10</option>
									<option value = "25">25</option>
									<option value = "50">50</option>
									<option value = "100">100</option>
									<option value = "150">150</option>
								{%endifequal%}
								{% ifequal items "25"%}
									<option value = "10">10</option>
									<option selected="selected" value = "25">25</option>
									<option value = "50">50</option>
									<option value = "100">100</option>
									<option value = "150">150</option>
								{%endifequal%}
								{% ifequal items "50"%}
									<option value = "10">10</option>
									<option value = "25">25</option>
									<option selected="selected" value = "50">50</option>
									<option value = "100">100</option>
									<option value = "150">150</option>
								{%endifequal%}
								{% ifequal items "100"%}
									<option value = "10">10</option>
									<option value = "25">25</option>
									<option value = "50">50</option>
									<option selected="selected" value = "100">100</option>
									<option value = "150">150</option>
								{%endifequal%}
								{% ifequal items "150"%}
									<option value = "10">10</option>
									<option value = "25">25</option>
									<option value = "50">50</option>
									<option value = "100">100</option>
									<option selected="selected" value = "150">150</option>
								{%endifequal%}
							</select>
						</form>
					</form>
					{% endif %}
				</div>
			{% endif %}
			{% if result %}
			           <h4>Nothing matches your search!</h4>
			{% endif %}
		</div> <!-- row-fluid -->
		<script>
			$(document).ready(function() {
				$('.commit > div').popover({
					placement:'left',
					html: true})

				//show filter icon only on hover
				$(".icon-filter").css("visibility","hidden");
				$("td").hover(function () {
					$(this).find(".icon-filter").css("visibility","visible");
				});
				$("td").mouseleave(function () {
					$(this).find(".icon-filter").css("visibility","hidden");
				});

				// we load cookies for the column display$
				save = $.cookie('_displaycols_{{objectname}}');
				if (save != undefined) {
					setting = save.split(';');
					for ( i = 0; i < setting.length; i++) {
						if (setting[i].length > 0) {
							splitlist = setting[i].split(':');
							id = splitlist[0], v = splitlist[1];
							if (v == 'true') {
								$('.chbxtoggle#'+id).prop('checked', true);
							}
							else {
								$('.chbxtoggle#'+id).prop('checked', false);
							}
						}
					}
				}
				
				$('.chbxtoggle').each(function () {
					showhideTableColumn($(this).attr('id'), $(this).is(':checked'))
				});
				//turn edit columns dropdown into a multi-select menu$
				$('.dropdown-menu input, .dropdown-menu label').click(function(e) {
					e.stopPropagation();
				});$
				$(".icon-filter").tooltip({ container: 'body', html: true });
				// initialise the remove filter tooltips
				$("th .btn-mini").tooltip({ container: 'body', html: true, title:'Clear filter' });
			});
		</script>
		{% endblock %}
	</body>
</html>
