{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<body>

		{% block content %}
			<div class="row-fluid">
				<div class="page-header">
					{% if no %}
						<h1>{{ no }} errors found for "{{ d }}"</h1>
					{% endif %}
				</div>
				{% if details %}
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Submitted on</th>
								<th>Recipe</th>
								<th>Recipe version</th>
								<th>Task</th>
								<th>Machine</th>
								<th>Distro</th>
								<th>Build system</th>
								<th>Target system</th>
								<th>Host distro</th>
								<th>Branch</th>
								<th>Commit</th>
							</tr>
						</thead>
						<tbody>
							{%for detail in details %}
								<tr>
									<td><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.DATE|date:"d/m/y H:i"}}</a></td>
									<td><a href="{% url id detail.id details.number items d %}">{{ detail.RECIPE }}</a></td>
									<td><a href="{% url id detail.id details.number items d %}">{{ detail.RECIPE_VERSION }}</a></td>
									<td><a href="{% url id detail.id details.number items d %}">{{ detail.TASK }}</a></td>
									<td><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.MACHINE }}</a></td>
									<td><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.DISTRO }}</a></td>
									<td><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.BUILD_SYS }}</a></td>
									<td><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.TARGET_SYS }}</a></td>
									<td><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.NATIVELSBSTRING }}</a></td>
									<td><a href="{% url id detail.id details.number items d %}">{{ detail.BUILD.BRANCH }} </a></td>
									<td class="commit">
										{% autoescape off %}
											<div class="btn" rel="popover" data-content= {{ detail.BUILD.COMMIT|escape}} title="">
												{% endautoescape %}
												{{ detail.BUILD.COMMIT|truncatechars:10}}
											</div>
						            </td>
								</tr>
							 {%endfor%}
						</tbody>
					</table>
						<div class="pagination pagination-centered">
							{% if no > 10 %}
							<div class="pull-right">
								<span class="help-inline">Show rows:</span>
									<form>
										<select class="paginationLimit" style="margin-top:5px;margin-bottom:0px;width:60px;" onchange="javascript:window.open('{% url entry_args %}?items='+this.value+'&page={{ details.number }}&query={{ d }}', '_self')">
											{% ifequal items "10" %}
												<option selected="selected" value = "10">10</option>
												<option value = "25">25</option>
												<option value = "50">50</option>
												<option value = "100">100</option>
												<option value = "150">150</option>
											{%endifequal%}
											{% ifequal items "25"%}
												<option value = "10">10</option>
												<option selected="selected" value = "25">25</option>
												<option value = "50">50</option>
												<option value = "100">100</option>
												<option value = "150">150</option>
											{%endifequal%}
											{% ifequal items "50"%}
												<option value = "10">10</option>
												<option value = "25">25</option>
												<option selected="selected" value = "50">50</option>
												<option value = "100">100</option>
												<option value = "150">150</option>
											{%endifequal%}
											{% ifequal items "100"%}
												<option value = "10">10</option>
												<option value = "25">25</option>
												<option value = "50">50</option>
												<option selected="selected" value = "100">100</option>
												<option value = "150">150</option>
											{%endifequal%}
											{% ifequal items "150"%}
												<option value = "10">10</option>
												<option value = "25">25</option>
												<option value = "50">50</option>
												<option value = "100">100</option>
												<option selected="selected" value = "150">150</option>
											{%endifequal%}
										</select>
									</form>
								</span>
							</div>
							{% endif %}
							 <ul>
								{% if details.has_previous %}
								<li><a href="?items={{items}}&page={{ details.previous_page_number }}&query={{ d }}">Previous</a></li>
								{% else %}
									<li class="disabled"><span>Previous</span></li>
								{% endif %}
								
								{% for pnum in list %}
									{% if pnum == details.number %}
										   <li class="active"><span>{{ details.number }}</span></li>
									{% else %}
									<li><a href="?items={{items}}&page={{ pnum }}&query={{ d }}">{{ pnum }}</a></li>
									{% endif %}
								{% endfor %}
							
								{% if details.has_next %}
								<li class="next"><a href="?items={{items}}&page={{ details.next_page_number }}&query={{ d }}">Next</a></li>
								{% else %}
									<li class="disabled"><span>Next</span></li>
								{% endif %}
							</ul>
						</div>
						
						
				{% endif %}
				{% if result %}
				           <h4>Nothing matches your search!</h4>
				{% endif %}
			</div>
		    <script>
		    $(document).ready(function() {
		    	$('.commit > div').popover({placement:'left'})
		    });
		    </script>
		{% endblock %}
	</body>
</html>
